*{
    box-sizing: border-box;
}

h1{
    color: rgb(123,23,128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

h2,h3{
    border: 2vw dashed hsl(234, 26%, 80%);
    font-weight: 900;
}

body{
    
    font-size: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgb(0, 225, 255) , yellow);
}

input[text],button{
    color: orange;
}

