*{
    box-sizing: border-box;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: rgb(123,23,128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    text-shadow: 2px 3px 4px rgb(128, 33, 128);
}

h2,h3{
    border: 2vw dashed hsl(234, 26%, 80%);
    font-weight: 900;
}

body{
    margin: 0 auto;
    background-image: linear-gradient(to right, rgb(0, 225, 255) , yellow);
}

body,input[text],button{
    color: orange;
    font-weight: bold;
    text-shadow: 1px 1px black;
    animation-name: floatingElements;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

@keyframes floatingElements{
    16%{
        transform: translate(50%,600%);
    }
    32%{
        transform: translate(85%,5%);
    }
    48%{
        transform: translate(85%, 600%);
    }
    64%{
        transform: translate(50%,5%);
    }
    80%{
        transform: translate(0%,600%);
    }
    100%{
        transform: translate(0%,0%);
    }
}