.selected{
    color: orange;
    font-size: 2vw;
    text-shadow: 2px 3px 4px hsl(0,80%,40%);
}

.heroes{
    padding: 2px;
    width: 10em;
}

.heroes li{
    cursor: crosshair;
    position: relative;
    list-style-type: none;
}

.heroes li .selected:hover{
    background-color: burlywood;
}